{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "scraper": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
